<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Reward Earning Rules</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Customer Loyalty Market Place</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link active" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<p th:align="center">Add Reward Earning Rules </p>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/brand/add_RR_rules}" method="post" th:object="${rrRules}">
                <div class="form-group">
                    <label class="control-label" for="ruleCode"> Rule Code</label>
                    <input id="ruleCode" class="form-control" th:field="*{ruleCode}"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="rewardName"> Reward Name</label>
                    <input id="rewardName" class="form-control" th:field="*{rewardName}"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="points"> Points </label>
                    <input id="points" class="form-control" th:field="*{points}"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="instances"> Instances </label>
                    <input id="instances" class="form-control" th:field="*{instances}"
                           required autofocus="autofocus" />
                </div>

                <button type="submit">Add RR Rule</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>