<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Customer Loyalty MarketPlace Application</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Customer Loyalty Market Place</a>
            </li>
        </ul>

        <ul class="navbar-nav" sec:authorize="isAnonymous()">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/login}">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<h2 align="center">Welcome to Market Place</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/query/default_query}" method="get">
                <fieldset>
                    <legend>Queries:</legend>
                    <ul>
                        <li th:each="query : ${queries}">
                            <input type="radio" th:field="${queryDto.query}" th:value="${query}"/>
                            <label th:for="${query}" th:text="${query}"></label>
                        </li>
                    </ul>
                </fieldset>
                <div class="center">
                    <input type="submit" name="select" class="button2" value="Query" />
                </div>
            </form>
            <div class="center">
                <a th:href="@{/query/ask}">Ask Another Query</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>